<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="profilepic" src="./img/profile_pic.jpg" width="150" height="200" onmouseover="./img/eyebrow.jpg" width="150" height="200">
        <h2>About Me!</h2>
        <p class="lead">I am an engineering graduate with a background in sales. Having largely been unfulfilled in my last role, I wanted to get more out of my career and myself. A fascination and interest in computers and technology from an early age made me decide to pursue a career in coding to not only feel a sense of joy from my work, but also to make an impact in areas I am very passionate about, including sports, energy and healthcare. I’m looking to further develop my skills and build on what I’ve learned. Whether it’s a start up or established company, I’m looking to work on interesting projects with like-minded individuals.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
