<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1><strong>Contact Me</strong></h1></br>
        <h4><strong><!-- {{ site.owner }} -->Get in touch. I'd love to hear from you</strong>
        </h4>
        
        <br>
        <ul class="list-inline">
        <li>
        <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-fw"></i></a>
        </li>
          
          <li>
            <a href="https://twitter.com/kashj22" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/kashj22" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
