<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://stark-retreat-1866.herokuapp.com/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/memorygame.png">
                <h2>Project 1: JavaScript Memory Game</h2>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://shishami.herokuapp.com/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/shishami.png">
                <h2>Project 2: Ruby on Rails Shisha App</h2>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://panox.github.io/cyclevision/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                <h2>Project 3: CycleVision (Group Project)</h2>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://kashj22.github.io/flicpic_frontend/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                <h2>Project 4: FlicPic App</h2>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
